:root {
  --color-1: #161616;
  --color-2: #e9dddd;
  --color-3: #443a39;
  --color-4: #2e2424;
  --color-5: #3b3434;
  --color-6: #615959;
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-1);
  height: 100%;
  width: 100%;
  background-image: url("place.jpg");
  background-size: 100%;
  background-position-y: 5%;
  background-repeat: no-repeat;
  background-position: fixed;

}

header {
  background-color: var(--color-6);
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;

  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;

    li {
      transition: .25s ease;

      &:not(.active, .login-button):hover {
        transform: scale(1.05) rotate(8deg);
      }

      &.active a {
        font-weight: bold;
      }

      a {
        cursor: pointer;
        padding: 8px;
        font-size: 14px;
        color: var(--color-2);
        text-decoration: none;
      }
    }
  }
}

.login-button {
  display: block;
  border-radius: 4px;
  background-color: var(--color-5);

  transition: .5s ease;

  a {
    display: inline-block;
    padding: 4px 24px;
    color: var(--color-2);
    font-weight: bold;
  }

  &:hover {
    background-color: var(--color-2);
  }

  &:hover a {
    color: var(--color-5);
  }
}

.searchbar-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  input {
    height: 100%;
    padding: 4px 8px;


    color: var(--color-3);
    background-color: rgba(255, 255, 255, .7);
    border: none;
    border-radius: 0 5px 5px 0;
    transition: .25s ease;

    &:hover,
    &:focus,
    &:active,
    &:not(:placeholder-shown) {
      background-color: rgba(255, 255, 255, .95);
    }
  }

  input:not(:placeholder-shown)+button,
  input:focus+button,
  input:hover+button {
    background-color: rgba(255, 255, 255, .95);
  }

  button {
    cursor: pointer;
    padding: 0 8px 0 8px;
    height: 100%;

    color: var(--color-3);
    background-color: rgba(255, 255, 255, .7);
    border: none;
    border-radius: 5px 0 0 5px;

    transition: .25s ease;

    i {
      transition: .25s ease;
    }

    &:hover,
    &:focus {
      background-color: var(--color-5) !important;

      i {
        color: #fff;
        transform: scale(1.08);
      }
    }
  }
}

.FocoHome {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  height: 100%;
  padding: 0px;
  background-color: var(--color-3);
  border-radius: 50px 50px 0 0;
  #lorem {
    position: relative;
    top: 5%;
    left: 5%;
    width: 90%;
    color: white;
  }
}